.container{
    background-color: #f5f8ff;
    padding-top: 1rem;
    display: inline-flex;
    height: 31.5rem;

    .description{
        margin-left: 7rem;
        flex: 0.4;
        margin-top: 4rem;
        span {
            width: 20rem;
            font-size: 3rem;
            font-weight: 499;
            // font-family: "Roboto";
        }
        p {
            // font-family: "Roboto";
            margin-top: 1rem;
            font-size: large;
            font-weight: 500;
        }
        .sign_up{
            margin-top: 2.5rem;
            width: 37%;
            height: 3.4rem;
            text-align: center;
            border: 4px solid #EF8094;
            border-radius: 30px;
            background-color: #FFFFFF;

            p {
                // font-family: "Roboto";
                margin-top: 1rem;
                letter-spacing: 1px;
                font-weight: 500;
            }
        }
    }

    .product{
        flex: 0.6;

        .box {
            object-fit: cover;
            height: 46rem;
            width: 50rem;
            background: url("../../assets/pngs/box-art.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-size: 18rem;
            background-position-x: 33rem;
            background-position-y: 1rem;
        }
    }

}